.loader {
    /*свг и/или анимация*/

    .loader {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Пример: на весь экран */
    }

    /*Стили для самого спиннера. Этот блок отвечает за размеры и анимацию спиннера.*/

    .spinner {
        width: 108px;
        height: 108px;
        /*Применяет анимацию с именем rotate, которая длится 2 секунды, выполняется линейно (linear) и повторяется бесконечно (infinite).*/
        animation: rotate 2s linear infinite; /* Пример анимации */
    }

    /*Определение анимации. Этот блок описывает, как будет выглядеть анимация вращения.*/
    @keyframes rotate {
        100% {
            transform: rotate(360deg);
        }
    }
    /*На 100% выполнения анимации элемент поворачивается на 360 градусов (полный оборот).
    Как это работает:
    Анимация начинается с 0% (начальное состояние) и заканчивается на 100% (конечное состояние).
    В данном случае элемент поворачивается на 360 градусов, создавая эффект вращения.*/
}





/*

.loader:
Контейнер, который центрирует спиннер на странице.
Использует Flexbox для выравнивания по центру.
Занимает всю высоту экрана (100vh).

.spinner:
Стили для самого спиннера.
Задаёт размеры и применяет анимацию вращения.

@keyframes rotate:
Описывает анимацию вращения.
Элемент поворачивается на 360 градусов, создавая эффект бесконечного вращения.


*/